@charset "UTF-8";
/*
	TO COMPILE AND WATCH FOR CHANGES RUN
	sass --watch scss/styles.scss:css/styles.css
*/
:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.u-text-flex {
  display: flex;
}

.u-text-flex-wrap {
  flex-wrap: wrap;
}

.u-text-flex-space-between {
  justify-content: space-between;
}

.u-text-flex-justify-center {
  justify-content: center;
}

.u-text-flex-item-center {
  align-items: center;
}

.u-text-flex-row {
  flex-direction: row;
}

.u-text-flex-column {
  flex-direction: column;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-block {
  display: block;
}

.u-text--inline-block {
  display: inline-block;
}

.u-text-bold {
  font-weight: 700 !important;
}

.u-roboto-font-medium {
  font-family: "Roboto Medium", Helvetica, Arial, sans-serif;
}

.u-roboto-font-bold {
  font-family: "Roboto Bold", Helvetica, Arial, sans-serif;
}

.u-openSans-font-regular {
  font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
}

.u-brand-skin-text {
  color: #0075C9;
}

.u-horizontal-pad-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.u-horizontal-pad-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.u-horizontal-pad-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.u-horizontal-pad-65 {
  padding-left: 65px;
  padding-right: 65px;
}

.u-vertical-pad-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-bg-gray {
  background-color: var(--bg-F6-color);
}

.u-gap-0 {
  margin: 0 !important;
}

.u-gap-l-10 {
  margin-left: 1rem !important;
}

.u-gap-l-20 {
  margin-left: 2rem !important;
}

.u-gap-r-10 {
  margin-right: 1rem !important;
}

.u-gap-r-20 {
  margin-right: 2rem !important;
}

.u-gap-b-10 {
  margin-bottom: 1rem !important;
}

.u-gap-b-20 {
  margin-bottom: 2rem !important;
}

@media (min-width: 768px) {
  .u-width .u-sm-320 {
    width: 32rem;
  }
}

@media (min-width: 768px) {
  .u-content-md-pull-right {
    float: right;
  }
}

.u-text-primary {
  color: var(--primary-blue-color) !important;
}

.u-no-border {
  border: none !important;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@media (min-width: 768px) {
  .navbar-brand {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-default {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-default {
    padding-top: 1rem;
  }
}

.table > thead > tr > th {
  border-top: 1px solid transparent;
  border-bottom: none;
  color: #4A4A4A;
  font-size: 1.4rem;
  font-family: "Open Sans Bold", Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td {
  padding: 8px;
  line-height: 1.8;
  vertical-align: top;
  border-top: 1px solid #ddd;
  color: #666666;
  font-size: 1.3rem;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
  padding: 1.5rem 0.8rem;
}

input[type=checkbox], input[type=radio] {
  width: 2rem;
  height: 2rem;
}

.btn-default {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-default:focus, .btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}
.nav-tabs > li > a {
  background: #4A4A4A;
  color: #ffffff;
  transition: all 0.5s ease;
  padding: 1rem 7rem;
}
.nav-tabs > li.active > a {
  color: #ffffff;
  background-color: var(--primary-blue-color);
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: var(--primary-blue-color);
  border: 1px solid transparent;
  border-bottom-color: transparent;
}

.nav > li a:hover, .nav > li a:focus {
  text-decoration: none;
  border-color: transparent;
}
.nav > li a:hover {
  background-color: var(--primary-blue-color);
}

.nav > li > a:hover {
  background-color: var(--primary-blue-color);
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 1rem;
  }
}
@media (min-width: 814px) {
  .form-inline .form-group {
    margin-bottom: 0;
  }
}
/*@import 'placeholder';
@import 'alert';*/
.container-banner {
  background-image: url("../images/oil_water@1x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
  position: relative;
}
@media (min-width: 992px) {
  .container-banner {
    min-height: 49.4rem;
  }
}
.container-banner .banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.container-banner.container-banner--base-inner-page {
  min-height: 22rem;
  position: relative;
}
.container-banner.container-banner--inner-page-default {
  background-image: url("../images/banner-paper-boat.jpg");
}
.container-banner.container-banner--members {
  background-image: url("../images/employers-banner.jpg");
}
.container-banner.container-banner--resources {
  background-image: url("../images/banner-resources.jpg");
}

.content-wrapper {
  margin-top: -20rem;
  position: relative;
}
@media (min-width: 992px) {
  .content-wrapper {
    margin-top: -45rem;
  }
}

.main-content-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .main-content-wrapper {
    margin-left: 25rem;
    height: 100%;
  }
}

.main-content {
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .main-content {
    padding-bottom: 15rem;
  }
}
.main-content__heading {
  padding: 3.5rem 4rem 2.5rem;
}
.main-content__heading .headline-title--h1 {
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  .main-content-wrapper.main-content-wrapper--inner-page {
    margin-left: 0;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .main-content-wrapper.main-content-wrapper--inner-page .main-content {
    padding-top: 0rem;
  }
}

.hero-container {
  margin-bottom: 4.4rem;
}
.hero-container .hero-container__heading {
  color: #ffffff;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

.content-box-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.content-container {
  transition: box-shadow 200ms;
  border-radius: 0.5rem;
  padding: 3.5rem;
  position: relative;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .content-container {
    padding: 5rem 5.5rem;
    min-height: 39rem;
  }
}

.content-section-title {
  margin-bottom: 5rem;
}
.content-section-title--tabs {
  margin-bottom: 3.5rem;
}
.content-section-title__sub {
  font-family: "Roboto Bold", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.content-section-title .content-section-title__heading {
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

.content-menu__row {
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .content-menu__row {
    justify-content: space-around;
  }
}
.content-menu__row > .content-col {
  flex-basis: 10rem;
}
@media (min-width: 768px) {
  .content-menu__row > .content-col {
    flex-basis: 19rem;
  }
}

.content-col > a:hover, .content-col > a:focus {
  text-decoration: none;
}

.content {
  text-align: center;
  max-width: 12rem;
}
@media (min-width: 768px) {
  .content {
    flex-basis: 19rem;
    max-width: 19rem;
  }
}
.content img {
  max-width: 100%;
  height: 6.5rem;
}
@media (min-width: 768px) {
  .content img {
    height: 10.4rem;
  }
}
.content h3 {
  color: #0075C9;
  font-family: "Roboto Bold", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  letter-spacing: -0.4px;
}
@media (min-width: 768px) {
  .content h3 {
    font-size: 1.8rem;
  }
}

.content-items.content-items--top-border {
  border-top: 0.5rem solid #E3E5E4;
  padding-top: 4rem;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.nav-sidebar {
  margin-bottom: 20px;
}
.nav-sidebar li {
  border-top: 1px solid #ffffff;
}
.nav-sidebar li a {
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #0075C9;
  padding-right: 35px;
}
.nav-sidebar li a:focus {
  background-color: #67baaf;
}
.nav-sidebar li a i {
  position: absolute;
  top: 36%;
  right: 20px;
}
.nav-sidebar li a:hover {
  background-color: #618eb5;
}
.nav-sidebar li.active a {
  background-color: #67baaf;
}

.navbar-toggle .fa-bars {
  color: #333e48;
  margin-top: 2px;
}

.navbar-header {
  margin-top: 21px;
}
.navbar-header.app-navbar {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding: 0;
}
.navbar-header.app-navbar .navbar-brand {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

a.navbar-brand {
  background: url("../images/kath_log.gif") center center no-repeat;
  width: 152px;
  height: 45px;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin-bottom: 0;
  }
  .navbar-nav .navbar-toggle {
    float: none;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: 25px;
  }

  .nav-sidebar .navbar-toggle {
    float: none;
    margin-top: 7px;
  }

  a.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 120px;
    margin-top: 10px;
  }

  .navbar-header {
    margin-top: 0;
    position: relative;
  }

  .navbar-toggle {
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  a.navbar-brand {
    margin-left: 10px;
    margin-right: 50px;
  }
}
.navbar-toggle .fa-bars {
  color: #333e48;
  margin-top: 2px;
}

.navbar-header {
  margin-top: 21px;
}
.navbar-header.app-navbar {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding: 0;
}
.navbar-header.app-navbar .navbar-brand {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

a.navbar-brand {
  background: url("../images/kath_log.gif") center center no-repeat;
  width: 152px;
  height: 45px;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin-bottom: 0;
  }
  .navbar-nav .navbar-toggle {
    float: none;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: 25px;
  }

  .nav-sidebar .navbar-toggle {
    float: none;
    margin-top: 7px;
  }

  a.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 120px;
    margin-top: 10px;
  }

  .navbar-header {
    margin-top: 0;
    position: relative;
  }

  .navbar-toggle {
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  a.navbar-brand {
    margin-left: 10px;
    margin-right: 50px;
  }
}
.navbar {
  border-radius: 0;
}
.navbar .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header--pension {
  margin-top: 0;
}
.navbar-header--pension .navbar-brand {
  text-indent: -9999px;
  height: 5rem;
}

.dropdown-menu--w304 {
  min-width: 30.4rem;
}

.dropdown__caret {
  width: 2rem;
}

.dropdown-toggle {
  position: relative;
}
.dropdown-toggle:after {
  content: "";
  background: url("../images/expand_more_24px@2x.png");
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: right;
  right: 10px;
  background-size: contain;
}
@media (min-width: 768px) {
  .dropdown-toggle:after {
    right: -10px;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #717983;
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar {
  border-radius: 0;
}
.navbar .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header--pension {
  margin-top: 0;
}
.navbar-header--pension .navbar-brand {
  text-indent: -9999px;
  height: 5rem;
}

.navbar-inner-menu .navbar-inner-menu__target {
  font-size: 1.4rem;
  color: #4A4A4A !important;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.btn {
  font-size: 1.4rem;
  line-height: 1.4rem;
  transition: all 0.2s linear;
  border-radius: 2px;
  padding: 12px 16px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #0075C9;
}
.btn-secondary {
  border: 1.5px solid #F79632;
  background: transparent;
  color: #333e48;
}
.btn-secondary:hover, .btn-secondary:focus {
  border-color: #F5B819;
  color: #333e48 !important;
}

.btn-lg {
  width: 15rem;
}

.btn-dark {
  background-color: #666;
  color: #ffffff;
  text-transform: uppercase;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-size: 62.5%;
  min-height: 100%;
  letter-spacing: -0.2px;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background: none;
  color: #9b9b9b;
}

html,
body {
  font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #797979;
}

body {
  min-height: 100%;
  background-color: #ffffff;
  font-size: var(--base-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Bold", Helvetica, Arial, sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.4px;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--primary-blue-color);
  cursor: pointer;
}
a:focus {
  outline: none;
}

h1 dd, h2 dd, h3 dd, h4 dd, h5 dd {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}

a[disabled] {
  pointer-events: none;
}

a.disabled:hover {
  cursor: not-allowed;
}

.tab-link[disabled] {
  filter: opacity(0.4);
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.header__logo {
  height: 2.9rem;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.login-container {
  max-width: 38.4rem;
  margin: 0 1.5rem 4rem;
}
@media (min-width: 768px) {
  .login-container {
    margin: 0 auto 14rem;
  }
}

.banner-login {
  padding-top: 14rem;
  position: relative;
  margin-bottom: 0;
}
.banner-login__intro {
  padding: 0 1.5rem 4rem;
}
.banner-login__heading {
  color: #ffffff;
  margin-bottom: 2.5rem;
  margin-top: 0;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .banner-login__heading {
    font-size: 4rem;
  }
}
.banner-login__text {
  color: #ffffff;
}
.banner-login__column:not(:last-child) {
  margin-bottom: 2rem;
}
.banner-login .form-label-group {
  font-size: 1.4rem;
}

.login-user .login-user__text {
  color: #9b9b9b !important;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.navbar-sm-fixed {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .navbar-sm-fixed {
    height: 7.6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 950;
  }
}

.sidenav-content {
  background-color: var(--primary-blue-color);
}
@media (min-width: 768px) {
  .sidenav-content.sidenav-content-sm-fixed {
    width: 25rem;
    top: 6.2rem;
    z-index: 800;
    height: auto;
    bottom: 0;
    position: fixed;
    left: 0;
  }
}

.main-content-wrapper {
  position: relative;
  height: 100%;
}
@media (min-width: 768px) {
  .main-content-wrapper {
    margin-left: 25rem;
  }
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.sidenav-content__heading {
  background-color: var(--bg-F6-color);
  color: #4A4A4A;
  text-transform: uppercase;
  padding: 2rem;
  font-weight: 700;
}
.sidenav-content__list {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.sidenav-content__list-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .sidenav-content__list-nav {
    position: static;
    top: 0;
    width: 25rem;
  }
}

.sidenav-content__list-target, .sidenav-content__tools-target {
  padding: 1.5rem 1rem 1.5rem 2rem;
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.1rem;
  display: block;
  text-decoration: none;
}
.sidenav-content__list-target.active, .active.sidenav-content__tools-target {
  background-color: #0a5f9c;
}
.sidenav-content__list-target:hover, .sidenav-content__tools-target:hover, .sidenav-content__list-target:focus, .sidenav-content__tools-target:focus {
  text-decoration: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}
.sidenav-content__list-item {
  text-indent: 0;
}

.sidenav-content__tools {
  margin-top: 2rem;
}
.sidenav-content__tools-title {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1.5rem;
}
.sidenav-content__tools-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidenav-content__tools-target {
  padding: 0 2rem;
  position: relative;
  margin-bottom: 1rem;
  line-height: 2rem;
  /*color: $white;
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0 2rem;

  &.active {
      background-color: #0a5f9c;
  }

  &:hover,
  &:focus {
      text-decoration: none;
      color: $white;
      background: rgba($white,0.2);
  }*/
}
.sidenav-content__tools-text {
  display: block;
  padding: 1rem;
  position: relative;
}
.sidenav-content__tools-text:before {
  content: url("../images/fa-icons/document_24px@2x.png");
  width: 1.2rem;
  display: inline-block;
  left: -12px;
  top: -1.7rem;
  position: absolute;
  transform: scale(0.4);
}
@media (min-width: 768px) {
  .sidenav-content__tools-text:before {
    top: -3px;
  }
}

.sidenav-content__tools-heading {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.search-filter {
  padding: 1rem 4rem;
}

/*@import 'search';*/
:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.need-help {
  padding: 7rem 0 7.5rem;
}
.need-help__title {
  color: #393939;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-size: 3.8rem;
  letter-spacing: -2px;
  line-height: 3.8rem;
  margin-bottom: 2rem;
  display: inline-block;
}
@media (min-width: 768px) {
  .need-help__title {
    font-size: 5.2rem;
    margin-bottom: 4rem;
  }
}
.need-help__text {
  display: block;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .need-help__text {
    display: inline-block;
    margin-bottom: 0;
  }
}
.need-help__icon {
  margin-right: 1.6rem;
}
.need-help__content {
  display: flex;
  flex-direction: column;
}
.need-help__content .phone-details {
  font-size: 1.4rem;
}
.need-help__content .trading-hours {
  font-size: 1.3rem;
  color: #9EA2A0;
}
.need-help__content a {
  color: #000000;
  font-weight: 300;
}
.need-help .date {
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}
.need-help .date:after {
  content: "";
  height: auto;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000000;
  right: 0;
}
@media (min-width: 768px) {
  .need-help .date:after {
    width: 1px;
  }
}
.need-help a[href*=mailto] {
  color: #393939;
  font-weight: 400;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.form-group {
  margin-right: 1rem;
}
.form-group .form-control {
  border-radius: 1px;
  height: 4rem;
  background-color: #F0F0F0;
  outline: none;
  padding: 11px 15px;
}
.form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

.radio label disabled {
  min-height: 2rem;
  padding-left: 2rem;
  margin-bottom: 0;
  font-weight: normal;
  color: #d3d3d3;
  cursor: not-allowed;
}

.form-control[disabled] {
  opacity: 0.4;
}

.custom-select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

select.form-control {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 11.5rem;
}
select.filter_control--fluid {
  width: 100%;
}

.select--all {
  margin: 2rem 0;
}

textarea {
  resize: none;
  min-height: 135px;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.footer {
  background-color: #f1f1f1;
  padding: 3.5rem 0;
  font-size: 1.2rem;
  width: 100%;
  bottom: 0;
}
@media (min-width: 1200px) {
  .footer {
    position: absolute;
  }
}
.footer__logo {
  text-align: center;
}
@media (min-width: 992px) {
  .footer__logo {
    margin-bottom: 0;
    text-align: left;
  }
}
.footer__description {
  color: #9EA2A0;
}
.footer__need-help {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .footer__need-help {
    justify-content: flex-end;
  }
}
.footer.footer--menu {
  z-index: 900;
  padding: 13px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .footer.footer--menu {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer.footer-sm-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer--menu-link {
  display: inline-block;
  margin-bottom: 15px;
}
.footer--menu-link .fa {
  width: 32px;
  height: 32px;
}
.footer--menu-link__label {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.2em;
  margin: 4px 0 0;
}

.footer--menu-target {
  color: #0075C9;
  display: block;
}
.footer--menu-target.active {
  color: #5F3653;
}
.footer--menu-target:hover {
  text-decoration: none;
}
.footer--menu-target:hover .fa {
  opacity: 0.8;
}

:root {
  --base-size: 1.6rem;
  --primary-blue-color: #0075c9;
  --bg-F6-color: #f6f6f6;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.login-container {
  max-width: 38.4rem;
  margin: 0 1.5rem 4rem;
}
@media (min-width: 768px) {
  .login-container {
    margin: 0 auto 14rem;
  }
}

.banner-login {
  padding-top: 14rem;
  position: relative;
  margin-bottom: 0;
}
.banner-login__intro {
  padding: 0 1.5rem 4rem;
}
.banner-login__heading {
  color: #ffffff;
  margin-bottom: 2.5rem;
  margin-top: 0;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .banner-login__heading {
    font-size: 4rem;
  }
}
.banner-login__text {
  color: #ffffff;
}
.banner-login__column:not(:last-child) {
  margin-bottom: 2rem;
}
.banner-login .form-label-group {
  font-size: 1.4rem;
}

.login-user .login-user__text {
  color: #9b9b9b !important;
}

/*@import 'steps';*/
/*THIS FILE DEFINES THE ALL   HEADLINES AND BODY STYLES*/
.headline-title--hero {
  font-size: 4rem;
  line-height: 48px;
}
@media (min-width: 992px) {
  .headline-title--hero {
    font-size: 6.4rem;
    line-height: 72px;
  }
}
.headline-title--h1 {
  font-size: 2.4rem;
  line-height: 32px;
}
@media (min-width: 992px) {
  .headline-title--h1 {
    font-size: 4rem;
    line-height: 48px;
  }
}
.headline-title--h2 {
  font-size: 2.2rem;
  line-height: 28px;
}
@media (min-width: 992px) {
  .headline-title--h2 {
    font-size: 2.8rem;
    line-height: 32px;
  }
}
.headline-title--h3 {
  font-size: 2rem;
  line-height: 24px;
}
@media (min-width: 992px) {
  .headline-title--h3 {
    font-size: 2.4rem;
    line-height: 28px;
  }
}
.headline-title--h4 {
  font-size: 1.6rem;
  line-height: 20px;
}
@media (min-width: 992px) {
  .headline-title--h4 {
    font-size: 1.8rem;
    line-height: 24px;
  }
}
.headline-title--sub1 {
  font-size: 3.2rem;
  line-height: 40px;
  letter-spacing: -0.8px;
}

.body-text-b1 {
  font-size: 2rem;
  line-height: 32px;
}
.body-text-b2 {
  font-size: 1.6rem;
  line-height: 24px;
}
.body-text-b3 {
  font-size: 1.4rem;
  line-height: 20px;
}
.body-text-b4 {
  font-size: 1.2rem;
  line-height: 16px;
}

.panel-default {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rebeccapurple;
}

.panel-border-bottom {
  border-color: transparent;
  border-bottom-color: #d7d7d7;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}

.panel-heading .accordion-toggle {
  text-decoration: none;
}
.panel-heading .accordion-toggle:after {
  font-family: "Glyphicons Halflings";
  content: "";
  color: var(--primary-blue-color);
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "";
}

.panel-group-statement .panel {
  border-radius: 8px;
}

.panel-content__title {
  font-family: "Open Sans Bold", Helvetica, Arial, sans-serif;
  width: 15rem;
  display: inline-block;
}
.panel-target__content {
  width: 100%;
}
.panel-target__content .sub-title {
  font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
  color: #9b9b9b;
}

.download {
  height: 45px;
  width: 45px;
  display: inline-block;
  padding: 8px;
  border: 2px solid var(--primary-blue-color);
  border-radius: 50%;
}
.download img {
  width: 100%;
}

@media (min-width: 768px) {
  .panel-body--half-content {
    width: 50%;
  }
}

.panel-inline-text {
  color: #666666;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.rating-star-icon {
  display: inline-block;
  width: 4.1rem;
  height: 4.1rem;
  background-size: contain;
  background-image: url(../images/star-rate-empty.png);
  cursor: pointer;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.rating-star-icon.selected {
  background-image: url("../images/star-rate.png");
}

.modal-dialog {
  max-width: 36rem;
}

.modal-header .modal-title {
  font-size: 2.6rem;
}
.modal-header .modal-title,
.modal-header h3 {
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
  margin-bottom: 1.5rem;
}

.modal__line-separator {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Bold", Helvetica, Arial, sans-serif;
}
.modal__line-separator:before {
  left: 0;
}
.modal__line-separator:after {
  right: 0;
}
.modal__line-separator:before, .modal__line-separator:after {
  content: "";
  width: 120px;
  border-bottom: 1px solid #d7d7d7;
  height: 1px;
  position: absolute;
  bottom: 50%;
}

.tooltip.fade {
  background: var(--primary-blue-color) !important;
}
.tooltip-arrow {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid var(--primary-blue-color) !important;
  left: -1rem !important;
}
.tooltip-inner {
  background: var(--primary-blue-color) !important;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
